<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>VersionDash</display-name>
  <welcome-file-list>
    <welcome-file>ArtifactVersion</welcome-file>
    <welcome-file>home</welcome-file>
    <welcome-file>indextest.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.anup.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>jdbcFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>cookieFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <env-entry>
    <env-entry-name>myConnectionURL</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>jdbc:mysql://172.28.128.3:3306/testdb</env-entry-value>
  </env-entry>
    <env-entry>
    <env-entry-name>dbUserName</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>dashuser</env-entry-value>
  </env-entry>
    <env-entry>
    <env-entry-name>dbPassword</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>dpass</env-entry-value>
  </env-entry>

</web-app>
